body {
    background-color: rgb(217, 217, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
canvas {
    background-color: white;
    border-radius: 5px;
    /* border: 1px solid black; */
}
