.currentWeather {
    /* Centered Items with flexbox*/
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.currentWeather > * {
    width: 33.33%;
}
.currentWeather img {
    --size: 150px;
    width: var(--size);
    height: var(--size);
}

.currentWeather div {
    text-align: center;
}
.weeklyWeather {
    --gap: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
}
.weeklyWeather > div {
    text-align: center;
    background-color: #232323;
    border-radius: 10px;
    padding: 10px;
    width: 160px;
}
