body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
}
.container {
    display: flex;
    gap: 10px;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 10px;
}

.drag-n-drop {
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    border: 2px dashed grey;
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drag-n-drop > label {
    font-size: 50px;
    border: 1px solid black;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 3px;
}
.drag-n-drop > label:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.071);
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(92, 193, 79);
    font-size: 16px;
    width: 200px;
}
